svg.c-arrow(viewBox='0 0 174 12', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='square')
        g.c-arrow__line(stroke-width='2')
            path(d='M133,6 L171.327257,6 M165.948328,2 L172,5.9959254 L165.948328,10')