.c-contact
        .container
            .row
                .col-sm.u-flex-align__cc.u-flex-dir__col
                    h3.c-contact__title Let’s Talk Business
                    .o-block.c-underline
                        a.c-contact__mail(href='mailto:business@dragossargu.com') business@dragossargu.com