//- Variables
        smTabletFooter = true : false
        hideFooterLinksUpMobile = true : false

include ../mixins/_nav-links

mixin footerContent
    .container
            .row
                .col-12.col-sm
                    p.c-footer__copyright ©2019 Dragos Sargu
                .col-12.col-sm-auto.u-flex-align__cc(
                    class = hideFooterLinksUpMobile ?
                        'u-display__none@up-xs':'')
                    +horizontal-nav-icons

if smTabletFooter
    .c-footer(class='c-footer--sm@tablet')
        +footerContent
else
    .c-footer
        +footerContent
