//- Variables
        bigFooter = true : false
        medFooter = true : false
        hideFooterLinksUpMobile = true : false

include ../mixins/_nav-links

mixin footerContent
    .container
            .row
                .col-12.col-sm
                    p.c-footer__copyright ©2019 Dragos Sargu
                .col-12.col-sm-auto.u-flex-align__cc(
                    class = hideFooterLinksUpMobile ?
                        'u-display__none@up-xs':'')
                    +horizontal-nav-icons

.c-footer
    if bigFooter
        .o-section(class = 'o-section__big o-section__bottom-big\@down-xs')
            +footerContent
    else if medFooter
        .o-section(class = 'o-section__bottom o-section__bottom-sm@sm-md')
            +footerContent
    else
        .o-section.o-section__bottom
            +footerContent
