//- Variables
        bigFooter = true : false
        hideFooterLinksUpMobile = true : false

include ../mixins/_nav-links

.c-footer
    .o-section(
        class = bigFooter ?
            'o-section__big o-section__bottom-big@down-xs':
            'o-section__bottom')
        .container
            .row
                .col-12.col-sm
                    p.c-footer__copyright ©2019 Dragos Sargu
                .col-12.col-sm-auto.u-flex-align__cc(
                    class = hideFooterLinksUpMobile ?
                        'u-display__none@up-xs':'')
                    +horizontal-nav-icons