//- Variables
        outerNav = true : false
        hideNavMobile = true : false
        mobileNav = true : false

mixin navContent
    .row
        .col
            a.c-nav__mail(href='mailto:business@dragossargu.com').
                business@dragossargu.com
        .col-auto.col-sm-5.col-md-4.u-flex-align__lc(
            class = mobileNav ?
                'o-mobile-nav-poz': '')
            ul.o-list.o-list__desktop
                li
                    a.c-link.c-link__line.c-nav__link(target='_blank', href='https://dribbble.com/dragos_sargu').
                        Dribbble
                li
                    a.c-link.c-link__line.c-nav__link(target='_blank', href='https://www.behance.net/dragos_sargu?fbclid=IwAR1T7mY5uI0hyMioCgI-bkggJFNc1HRHWi1pLz1CHRBNYNB9dc3Q5s1gMD0').
                        Behance
                li
                    a.c-link.c-link__line.c-nav__link(target='_blank', href='https://t.me/dragos_sargu').
                        Telegram
            if mobileNav
                ul.o-list__mobile
                    li.c-nav__mobile-link.u-flex-align__cc
                        a(target='_blank', href='https://dribbble.com/dragos_sargu')
                            img.o-icon.o-icon__dribbble(src='images/icon/dribbble.svg', alt='')
                    li.c-nav__mobile-link.u-flex-align__cc
                        a(target='_blank', href='https://www.behance.net/dragos_sargu?fbclid=IwAR1T7mY5uI0hyMioCgI-bkggJFNc1HRHWi1pLz1CHRBNYNB9dc3Q5s1gMD0')
                            img.o-icon.o-icon__behance(src='images/icon/behance.svg', alt='')
                    li.c-nav__mobile-link.u-flex-align__cc
                        a(target='_blank', href='https://t.me/dragos_sargu')
                            img.o-icon.o-icon__telegram(src='images/icon/telegram.svg', alt='')

if outerNav
    .c-nav.c-nav--big(
        class = hideNavMobile ?
            'u-display__none@down-xs': '')
        .container
            +navContent
else
    .c-nav(
        class = hideNavMobile ?
            'u-display__none@down-xs': '')
        +navContent
