//- The post's content is taken from the "projects" array

.c-post.c-work__post
    .row(class='o-full-width\@down-xs')
        .col-12
            img.c-post__image(src = "/images/rantech.jpg", alt='')
    .row
        .col-12.col-sm
            h3.c-post__title Rantech Website
        .col-12.col-sm-auto.u-flex-align__lc
            h5
                pre.c-post__job.
                    User Interface   |   User Experience
    .row
        .col-12.col-sm-7.col-md-8
            p.c-post__description I have been working for the last 4 years in agencies, startups and as a freelancer. I worked in two continents, designed apps, landing pages, websites, ads, posters, emails for a wide range of.
        .col-auto.col-sm.u-flex-align__rb
            a.c-link.c-link__arrow.c-post__link(href = '/')
                span The Process
                include _arrow