//- The post's content is taken from the "projects" array

.c-post.c-work__post
    .row(class='o-full-width\@down-xs')
        .col-12
            img.c-post__image(src = "images/" + projects[i].image1, alt='')
    .row
        .col-12.col-sm
            h3.c-post__title #{projects[i].title}
        .col-12.col-sm-auto.u-flex-align__lc
            h5
                pre.c-post__job.
                    User Interface   |   User Experience
    .row
        .col-12.col-sm-7.col-md-8
            p.c-post__description #{projects[i].description}
        div.col-auto.col-sm.u-flex-align__rb
            a.c-link.c-link__arrow.c-post__link(href = projects[i].link)
                span The Process
                include _arrow