title #{seo.title}
meta(name='description', content = seo.description)

if seo.hidden
    meta(name='robots', content='noindex, follow')
else
    //- Schema.org markup for Google+
    meta(itemprop='name', content = seo.title)
    meta(itemprop='description', content = seo.description)
    meta(itemprop='image', content = seo.image)

    //- Twitter Card data
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content = seo.title)
    meta(name='twitter:description', content = seo.description)
    meta(name='twitter:creator', content='@dragos_sargu')
    meta(name='twitter:image:src', content = seo.image)

    //- Open Graph data
    meta(property='og:title', content = seo.title)
    meta(property='og:type', content = 'website')
    meta(property='og:url', content = seo.url)
    meta(property='og:image', content = seo.image)
    meta(property='og:description', content = seo.description)
    meta(property='og:site_name', content = 'Dragos Sargu')
