@keyframes slide-in-bottom {
    from {
        opacity: 0;
        transform: translateY(125px);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-125px);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.io .js-animate {
    opacity: 0;
}

.o-appear {
    animation: 0.9s ease-out both;

    &--bottom {
        animation-name: slide-in-bottom;
    }
    &--left {
        animation-name: slide-in-left;
    }
    &--mixed {
        animation-name: slide-in-bottom;

        @include media-breakpoint-down(xs) {
            animation: reveal 0.8s ease-out both;
        }
    }
}

.o-reveal {
    animation: reveal 0.8s ease-out both;
}