.o-full-height {
	display: flex;
	flex-direction: column;

	&__elem {
		flex: 1;
	}
}

.o-list {
	@include media-breakpoint-down(xs) {
		display: none;
	}

	& li {
		display: inline-block;
	}

	& li + li {
		margin-left: 40px;
	}
}

.o-mobile-list {
	@include media-breakpoint-up(sm) {
		display: none;
	}

	& li + li {
		margin-top: 40px;
	}
}

.o-mobile-nav-poz {
	@include media-breakpoint-down(xs) {
		position: absolute;
		right: 10px;
		top: 3px;
	}
}

.o-block {
	position: relative;
}

.o-line {
	position: relative;
}

.o-heading--pushed {
	position: absolute;
	z-index: 5;
	transform: rotate(-90deg) translateY(-150%);
	left: -60px;
}

.o-section {
	position: relative;
	padding-bottom: 80px;
	padding-top: 80px;


	&--first {
		padding-top: 20px;
		height: 100%;

		@include media-breakpoint-down(xs) {
			padding-bottom: 60px;
		}
	}

	&--bottom {
		padding-top: 0;
	}

	&--big {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}

.o-icon {

	&--dribbble {
		width: 18px;
		height: 18px;
	}

	&--behance {
		width: 22px;
		height: 15px;
	}

	&--twitter {
		width: 18px;
		height: 15px;
	}
}
