.o-full-height {
	display: flex;
	flex-direction: column;

	&__elem {
		flex: 1;
	}
}

.o-full-screen {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.o-list {
	& li {
		display: inline-block;
	}

	& li + li {
		margin-left: 40px;
	}

	&__desktop {
		@include media-breakpoint-down(xs) {
			display: none;
		}

		& li + li {
			@include media-breakpoint-down(md) {
				margin-left: 20px;
			}
		}
	}

	&__mobile {
		@include media-breakpoint-up(sm) {
			display: none;
		}

		& li + li {
			margin-top: 40px;
		}
	}
}

.o-mobile-nav-poz {
	@include media-breakpoint-down(xs) {
		position: absolute;
		right: 10px;
		top: 3px;
	}
}

.o-block {
	position: relative;
}

.o-line {
	position: relative;
}

.o-heading--pushed {
	@include media-breakpoint-up(xl) {
		position: absolute;
		z-index: 5;

		// rotates the heading 90 deg
		// and positions it to the left in the middle of
		// the blank space near the section
		@include position-heading(xl);
	}
}

// this class should be applied on a .row
// to reach the desirable result
.o-full-width\@down-xs {
	@include media-breakpoint-down(xs) {
		margin-left: -20px;
		margin-right: -20px;

		[class ^= "col"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.o-section {
	position: relative;
	padding-bottom: 80px;
	padding-top: 80px;

	@include media-breakpoint-down(xs) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&--bottom {
		padding-top: 0;
		padding-bottom: 80px;

		@include media-breakpoint-down(xs) {
			padding-bottom: 60px;
			padding-top: 0;
		}

		&-big {
			padding-bottom: 120px;
			padding-top: 0;

			&\@down-xs {
				@include media-breakpoint-down(xs) {
					padding-top: 0;
					padding-bottom: 120px;
				}
			}
		}
	}

	&--big {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}

.o-icon {

	&__dribbble {
		width: 18px;
		height: 18px;
	}

	&__behance {
		width: 22px;
		height: 15px;
	}

	&__telegram {
		width: 20px;
		height: 18px;
	}
}
