.o-full-height {
	display: flex;
	flex-direction: column;

	&__elem {
		flex: 1;
	}
}

.o-list {
	@include media-breakpoint-down(xs) {
		display: none;
	}

	& li {
		display: inline-block;
	}

	& li + li {
		margin-left: 40px;
	}
}

.o-mobile-list {
	@include media-breakpoint-up(sm) {
		display: none;
	}

	& li + li {
		margin-top: 40px;
	}
}

.o-mobile-nav-poz {
	@include media-breakpoint-down(xs) {
		position: absolute;
		right: 10px;
		top: 3px;
	}
}

.o-block {
	position: relative;
}

.o-line {
	position: relative;
}

.o-heading--pushed {
	position: absolute;
	z-index: 5;

	@include media-breakpoint-up(sm) {
		transform: rotate(-90deg) translateY(-150%);
		left: -60px;
	}
}

.o-full-vw\@down-xs {
	@include media-breakpoint-down(xs) {
		width: 100vw;
		margin: 0;
		position: relative;
		left: calc(-50vw + 50%);
	}
}

.o-section {
	position: relative;
	padding-bottom: 80px;
	padding-top: 80px;

	@include media-breakpoint-down(xs) {
		padding-top: 45px;
	}


	&--first {
		padding-top: 20px;
		height: 100%;

		@include media-breakpoint-down(xs) {
			padding-bottom: 60px;
		}
	}

	&--bottom {
		padding-top: 0;

		&-big {
			padding-bottom: 120px;

			&\@down-xs {
				@include media-breakpoint-down(xs) {
					padding-bottom: 120px;
				}
			}
		}
	}

	&--big {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}

.o-icon {

	&__dribbble {
		width: 18px;
		height: 18px;
	}

	&__behance {
		width: 22px;
		height: 15px;
	}

	&__twitter {
		width: 18px;
		height: 15px;
	}
}
