.c-about {
	&__heading {
		bottom: 62px;

		@include media-breakpoint-up(sm) {
			left: 9px;
			bottom: 0;
		}
	}

	&__description {
		margin-top: 65px;
		margin-bottom: 60px;

		@include media-breakpoint-down(xs) {
			margin: 40px 0;
		}
	}

	&__image {
		position: relative;
		top: 20px;
		@include box-shadow-up-sm();

		@include media-breakpoint-down(xs) {
			position: static;
			margin-top: 20px;
		}
	}
}
