.c-arrow {
	width: 164px;
	height: 12px;
	position: absolute;
	bottom: calc(50% - 1px);
	transform: translateY(50%);
	right: 0;

	& path {
		transition: .3s linear;
	}

	&__line {
		stroke: $black;
	}
}