.c-arrow {
	width: 174px;
	height: 12px;
	position: absolute;
	bottom: calc(50% - 1px);
	transform: translateY(50%);
	right: 0;

	& path {
		transition: .2s ease-in-out;
	}

	&__line {
		stroke: $black;
    }

    &--reverse {
        width: 244px;
        right: unset;
    }
}