.c-brief {
    overflow: hidden;

    &__heading {
        right: 105px;
    }

    &__card {
        padding-top: 120px;
        padding-bottom: 120px;

        &::before {
            left: calc(-1 * ((100vw - 100%) / 4) + 1px);
            @include media-breakpoint-down(lg) {
                left: calc(-1 * (100vw - 100%) / 2 + 60px);
            }
        }
    }
}