.c-card {
	position: relative;
	background: $snow-white;


	&__left {
		width: 100vw;

		// sets the "right" property for all screen sizes
		@include position-card-left();
	}

	&__center {
		margin-left: auto;
		margin-right: auto;

		// sets the "width" property for all screen sizes
		@include card-center-grid-offset(1);
	}
}
