.c-challenges {

    &__section + &__section {
        margin-top: 120px;
    }

    &__roman-i {
        display: inline-block;
        width: 20px;
        height: 80px;
        background: #fafafa;
    }
    &__roman-i + &__roman-i {
        margin-left: 20px;
    }
}