.c-challenges {

    &__section {
        & + & {
            margin-top: 120px;
        }

        @include media-breakpoint-down(xs) {
            & + & {
                margin-top: 80px;
            }
        }
    }

    &__roman-i {
        display: inline-block;
        width: 20px;
        height: 80px;
        background: #fafafa;
    }
    &__roman-i + &__roman-i {
        margin-left: 20px;
    }

    &__heading {
        @include media-breakpoint-down(lg) {
            position: static;
            margin-bottom: 80px;
        }
    }

    &__title {
        margin-bottom: 20px;

        @include media-breakpoint-down(xs) {
            margin-top: 20px;
            text-align: center;
        }
    }
}