.c-colors {

    &__text {
        line-height: 1;
    }

    &__title {
        color: $smoke-gray;

        @include media-breakpoint-down(xs) {
            margin-bottom: 80px;
        }
    }

    &__name {

        &--right {
            @include media-breakpoint-down(xs) {
                text-align: right;
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px 0;
        padding: 20px;
        line-height: 1;
        height: 140px;

        @include media-breakpoint-down(xs) {
            // set the height equal to it's width to form a square
            height: calc(50vw - 30px);
        }

        &--main {
            background: #333333;
            .c-colors__text {
                color: white;
            }
        }
        &--accent {
            background: #d74b4b;
            .c-colors__text {
                color: white;
            }
        }
        &--bg-1 {
            background: #f5f5f5;
        }
        &--bg-2 {
            background: white;
            border: 2px solid #d74b4b;
        }
    }
}