.c-project-overview {

	&__image {
		box-shadow: $default-shadow;
	}

	&__title {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	&__link {
		font-family: Montserrat-Bold;
		font-size: 16px;
		color: #2E2E2E;
		letter-spacing: 1.33px;
		position: relative;
		margin-right: 60px;

		&:hover .c-arrow {
			width: calc(100% + 50px);
			background: $smoke-gray;

			&::before,
			&::after {
				background: $smoke-gray;
			}
		}
	}
}
