.c-contact {
    padding: 330px 0;
    text-align: center;

    &__title {
        margin-bottom: 9px;
    }

    &__mail {
        @extend h4;
        transition: .3s;
	    color: $smoke-gray;

        &:hover {
            color: $black;
        }
    }
}
