.c-contact {
    padding-top: 330px;
	// + 8px from the underline after element
	padding-bottom: 338px;
    text-align: center;

    @include media-breakpoint-down(md) {
        padding-top: 240px;
        padding-bottom: 248px;
    }

	@include media-breakpoint-down(xs) {
		padding-top: 300px;
		// + 8px from the underline after element
		padding-bottom: 308px;
	}

    &__title {
        margin-bottom: 9px;
    }

    &__mail {
        @extend h4;
        transition: .3s;
	    color: inherit;
    }
}
