.c-description {

	&__parag {
		margin-bottom: 80px;

		@include media-breakpoint-down(xs) {
			margin-bottom: 40px;
		}
	}

	&__block {
		margin-top: 60px;

		@include media-breakpoint-down(xs) {
			margin-top: 20px;
		}
	}

	&__image {
		box-shadow: $default-shadow;
		position: relative;
		top: -60px;

		@include media-breakpoint-down(xs) {
			top: -20px;
			margin-bottom: 20px;
		}
	}
}