.c-footer {
    padding-bottom: 80px;

    &--sm\@tablet {
        @include media-breakpoint-between(sm, md) {
            padding-bottom: 40px;
        }
    }

	&__copyright {
		text-align: left;

		@include media-breakpoint-down(xs) {
			text-align: center;
			margin-bottom: 20px;
		}
	}
}
