.c-grid-sec {

    @include media-breakpoint-between(lg, sm) {
        padding-top: 20px;
    }

    &__heading {
        position: absolute;
        right: 80px;

        @include media-breakpoint-down(lg) {
            right: unset;
            transform: translateY(-50%);
        }

        @include media-breakpoint-down(xs) {
            transform: translateY(0);
            position: static;
            margin-bottom: 40px;
        }
    }

    &__card {
        padding-top: 80px;
        padding-bottom: 40px;
        &::before {
            right: 83.5%;
        }
        @include media-breakpoint-down(md) {
            &::before {
                right: 82%;
            }
        }
        @include media-breakpoint-down(sm) {
            &::before {
                right: 80.3%;
            }
        }
        @include media-breakpoint-down(xs) {
            padding-top: 0;
            padding-bottom: 0;
            &::before {
                right: 20px;
                background: white;
            }
        }
    }

    &__slider {
        margin-top: 80px;
        box-shadow: $default-shadow;

        @include media-breakpoint-down(xs) {
            margin-top: 40px;
        }
    }
}