.c-heading {
	line-height: 1;
	position: relative;

	&::before {
		content: "";
		display: block;
		width: 55px;
		height: 1px;
		background: $black;
		position: absolute;
		right: calc(100% + 30px);
		top: 50%;
	}
}
