.c-hero {
	border: 20px solid white;
	border-bottom: none;
	background: $snow-white;
	height: fit-content;
	padding-top: 20px;

	@include media-breakpoint-up(xl) {
		margin-bottom: 80px;
		min-height: 85vh;
    }

    @include media-breakpoint-down(lg) {
        margin-bottom: 320px;
    }

	& .container {
		padding-right: $grid-gutter-width;
		padding-left: $grid-gutter-width;
	}

	&__heading {
		margin-top: 120px;
		margin-bottom: 100px;

		@include media-breakpoint-down(lg) {
			margin: 140px 0;
		}

		@include media-breakpoint-down(sm) {
			margin-top: 160px;
			margin-bottom: 200px;
		}

		@include media-breakpoint-down(xs) {
			margin: 120px 0;
		}
	}

	&__info {
		margin-bottom: 80px;

		@include media-breakpoint-down(lg) {
			margin-bottom: 40px;
		}

		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}

		@include media-breakpoint-down(xs) {
			margin-bottom: 40px;
		}
	}
}
