.c-hero {
	border: 20px solid white;
	border-bottom: none;
	background: $snow-white;
	height: fit-content;
	min-height: 85vh;
	padding-top: 20px;

	@include media-breakpoint-up(xl) {
		margin-bottom: 80px;
	}

	&__heading {
		margin-top: 120px;
		margin-bottom: 100px;

		@include media-breakpoint-down(lg) {
			margin: 140px 0;
		}

		@include media-breakpoint-down(xs) {
			margin: 120px 0;
		}
	}

	&__info {
		margin-bottom: 80px;

		@include media-breakpoint-down(lg) {
			margin-bottom: 40px;
		}

		@include media-breakpoint-down(xs) {

			.col-12 + .col-12 {
				margin-top: 40px;
			}
		}
	}
}
