.c-info {

    &__block {
        @include media-breakpoint-down(sm) {
            & + & {
                margin-top: 40px;
            }
        }
    }

	&__title {
        margin-bottom: 12px;

        @include media-breakpoint-up(xl) {
            text-transform: uppercase;
            letter-spacing: 0.2858em;
            margin-bottom: 16px;
            line-height: 1;
        }
    }
}
