.c-job {
	& + & {
		margin-top: 20px;
	}

	&:last-child {
		margin-bottom: 40px;
	}

	&__agency {
		color: $black;
		line-height: 24px;
	}

	&__time-span {
		text-align: right;

		@include media-breakpoint-up(sm) {
			display: inline-block;

			&:last-child::before {
				content: "- ";
			}
		}
	}
}
