.c-jobs {

	&__block + &__block {
		margin-top: 20px;
	}

	&__agency {
		color: $black;
		line-height: 24px;
	}

	&__time-span {
		text-align: right;

		@include media-breakpoint-up(md) {
			display: inline-block;

			&:last-child::before {
				content: "-";
				margin-right: 3px;
				margin-left: 3.5px;
			}
		}
	}
}
