.c-link {
    color: inherit;
    position: relative;

    &__line {

        &:hover {
            &::after {
                opacity: 1;
                width: calc(100% + 4px);
            }
        }

        &::after {
            content: '';
            display: block;
            background: #d8d8d8;
            height: 2px;
            width: 0;
            position: absolute;
            right: -2px;
            bottom: 40%;
            opacity: 0;
            transition: .1s ease-in-out;
        }

        &--sm {

            &::after {
                bottom: 35%;
            }
        }
    }

    &__arrow {

        & span {
            margin-right: 63px;
        }

        &--reverse {
            & span {
                margin-right: 0;
                margin-left: 63px;
            }
        }
    }
}