.c-nav {

	&--big {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__mail {
		@extend p;
    color: $black;
  }

	&__link {
    @extend h5;
    font-weight: 400;

    &--back {
      font-weight: 700;
    }
	}
}