.c-portfolio-post {
	&__image {
		box-shadow: $default-shadow;
		margin-bottom: 40px;
	}

	&__description {
		margin-top: 20px;
	}

	&__job {
		@extend h5;
		color: $smoke-gray;
	}

	&__link {
		@extend h4;
		position: relative;
		margin-right: 50px;

		&:hover .c-arrow {
			width: calc(100% + 50px);
			background: $smoke-gray;

			&::before,
			&::after {
				background: $smoke-gray;
			}
		}
	}
}
