.c-post {
	&__image {
		box-shadow: $default-shadow;
		margin-bottom: 40px;

		@include media-breakpoint-down(xs) {
			margin-bottom: 20px;
		}
	}

	&__description {
		margin-top: 20px;
	}

	&__job {
		color: $smoke-gray;
	}

	&__link {
		@extend h4;
		position: relative;
		margin-right: 50px;
		margin-top: 20px;

		&:hover .c-arrow {
			width: calc(100% + 50px);
			background: $smoke-gray;
			transition: .3s ease-out;

			&::before,
			&::after {
				background: $smoke-gray;
			}
		}
	}
}
