.c-post {
	&__image {
		box-shadow: $default-shadow;
		margin-bottom: 40px;

		@include media-breakpoint-down(xs) {
			margin-bottom: 20px;
		}
	}

	&__description {
        margin-top: 20px;
	}

	&__job {
        color: $black;

        @include media-breakpoint-only(xs) {
            margin-top: 6px;
        }
	}

	&__link {
		@extend h4;
		margin-top: 20px;
	}
}
