.c-post {
	&__image {
		box-shadow: $default-shadow;
		margin-bottom: 40px;
	}

	&__description {
        margin-top: 20px;
	}

	&__job {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        @include media-breakpoint-only(xs) {
            justify-content: flex-start;
            margin-top: 20px;
        }
	}

	&__link {
		@extend h4;
        margin-top: 20px;

        @include media-breakpoint-down(xs) {
            margin-top: 35px;
        }
	}
}
