.c-slider {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &__img {
        display: block;
        user-select: none;
        -webkit-user-drag: none;
    }

    &__overlay {
        height: 100%;
        width: 50%;
        background: url('/images/kings-tailor/no-grid.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;

        position: absolute;
        top: 0;
        left: 0;
    }

    &__separator {
        position: relative;
        top: 0;
        transform: translateX(-50%);
        left: 100%;
        user-select: none;

        width: 4px;
        height: 100%;
        background: white;
        box-shadow: $default-shadow;

    }

    &__handle {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: white;
        box-shadow: $default-shadow;
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    &__arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        user-select: none;

        &:nth-of-type(2n + 1) {
            // left arrow
            border-right: 4px solid $black;
        }
        &:nth-of-type(2n) {
            // right arrow
            border-left: 4px solid $black;
        }

        & + & {
            margin-left: 4px;
        }
    }
}