// fallback for webp images
.webp .c-slider {
    background: url('/images/kings-tailor/grid.webp');
    background-size: cover;
}
.no-webp .c-slider,
.no-js .c-slider {
    background: url('/images/kings-tailor/grid.jpg');
    background-size: cover;
}

.c-slider {
    position: relative;
    cursor: pointer;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;

    &__img {
        display: block;
        user-select: none;
        -webkit-user-drag: none;
    }

    &__overlay {
        clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    }

    &__separator {
        width: 4px;
        height: 100%;
        background: white;
        box-shadow: $default-shadow;
        user-select: none;

        position: absolute;
        top: 0;
        transform: translateX(-50%);
        left: 50%;
    }

    &__handle {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: white;
        box-shadow: $default-shadow;
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

        &:hover {
            cursor: ew-resize;
        }
    }

    &__arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        user-select: none;

        &:nth-of-type(2n + 1) {
            // left arrow
            border-right: 4px solid $black;
        }
        &:nth-of-type(2n) {
            // right arrow
            border-left: 4px solid $black;
        }

        & + & {
            margin-left: 4px;
        }
    }
}