.c-slider {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 4px;
        height: 100%;
        background: white;
        box-shadow: $default-shadow;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    &__img {
        display: inline-block;
        object-fit: cover;
        user-select: none;
        -webkit-user-drag: none;
        user-drag: none;

        &:nth-of-type(2n + 1) {
            object-position: left center;
            width: 50%;
        }
        &:nth-of-type(2n) {
            object-position: right center;
            width: 50%;
        }
    }

    &__handle {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: white;
        box-shadow: $default-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: ew-resize;
        z-index: 2;

        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    &__arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;

        &:nth-of-type(2n + 1) {
            // left arrow
            border-right: 4px solid $black;
        }
        &:nth-of-type(2n) {
            // right arrow
            border-left: 4px solid $black;
        }

        & + & {
            margin-left: 4px;
        }
    }
}