.c-stats {
	text-align: center;

	&__name {
        margin-top: 6px;
    }

    &__block {
        @include media-breakpoint-down(xs) {
            & + & {
                margin-top: 80px;
            }
        }

        &:nth-of-type(2) {
            animation-delay: 0.15s;
        }
        &:nth-of-type(3) {
            animation-delay: 0.3s;
        }
        &:nth-of-type(4) {
            animation-delay: 0.45s;
        }
    }
}