.c-testimonials {
    margin-top: 180px;

    @include media-breakpoint-down(md) {
        margin-top: 260px;
    }

	&__block {
		@include media-breakpoint-down(xs) {
			& + & {
				margin-top: 40px;
			}
        }
        &:nth-of-type(2) {
            animation-delay: 0.15s;
        }
        &:nth-of-type(3) {
            animation-delay: 0.3s;
        }
	}

    &__reviewer {
	    display: inline;
        line-height: 1;
    }

    &__company {
	    display: inline;
        line-height: 1;
        color: $smoke-gray;
        padding-left: 10px;
    }

    &__review {
        margin-top: 20px;


    }
}
