.c-thanks {
    margin-top: 140px;

    &__link {
        @extend h4;
        line-height: 22px;
        display: block;
        width: fit-content;
        transition: .2s ease-out;

        & + & {
            margin-top: 40px;
        }
        &:first-child {
            margin-top: 7px;
        }

        &:hover {
            color: $smoke-gray;
        }
        &:active {
            color: $smoke-gray;
            & .c-underline::after {
                background: $smoke-gray;
            }
        }
    }

}