.c-thanks {
    margin-top: 140px;

    @include media-breakpoint-down(xs) {
        margin-top: 240px;
    }

    &__message {

        @include media-breakpoint-down(xs) {
            text-align: center;
            margin-bottom: 80px;
        }
    }

    &__link {
        @extend h4;
        line-height: 22px;
        display: block;
        width: fit-content;
        transition: .2s ease-out;

        @include media-breakpoint-down(xs) {
            margin: 0 auto;
        }

        &:hover {
            color: $smoke-gray;
        }
        &:active {
            color: $smoke-gray;
            & .c-underline::after {
                background: $smoke-gray;
            }
        }
    }

}