.c-underline {
    position: relative;
    // make the area between the div and underline clickable
    padding-bottom: 6px;
    margin-bottom: -6px;
    // color of the text in the underlined section
    color: $smoke-gray;

	&::after {
		content: "";
		display: block;
		height: 2px;
		width: 100%;
		background: $black;
		position: absolute;
		left: 0;
        bottom: 0;
        transition: .3s;
    }

    &:hover {
        cursor: pointer;
        color: $black;

    }
    &:active {
        color: $smoke-gray;
        &::after {
            background: $smoke-gray;
        }
    }
}