.c-underline {
    position: relative;
    // make the area between the div and underline clickable
    padding-bottom: 5px;
    margin-bottom: -5px;
    // color of the text in the underlined section
    color: inherit;

	&::after {
		content: "";
		display: block;
		height: 2px;
		width: 100%;
		background: $black;
		position: absolute;
		left: 0;
        bottom: 0;
        transition: .1s ease-in;
    }
}