.c-work {

	// every portfolio post preceding another one
	&__post + &__post {
		margin-top: 70px;

		@include media-breakpoint-down(xs) {
			margin-top: 40px;
		}
	}

	&__heading {
		bottom: 17px;

		@include media-breakpoint-up(sm) {
			left: 13px;
			bottom: 0;
		}
	}
}
