.c-work {
	margin-bottom: 150px;

	// every portfolio project preceding another one
	&__post + &__post {
		margin-top: 80px;

		@include media-breakpoint-down(xs) {
			margin-top: 40px;
		}
	}

	&__heading {

		@include media-breakpoint-up(xl) {
			left: 93px;
			bottom: 0;
		}
	}
}
