extends layouts/_err-page

block err-meta
    title Access Forbidden

block err-image
    .container.c-err__text 403

block err-title
    | Access denied.

block err-message
    | The content you are trying to access is restricted. Unfortunately, you don't have permission to view the requested URL.