extends layouts/_err-page

block err-meta
    title Page Not Found

block err-image
    .container.c-err__text 404

block err-title
    | Something's missing.

block err-message
    | The page you are looking for does not exist. The link you followed may be broken or the page may have been removed.