extends layouts/_layout

block variables
    - var backHomepageNav = true
    - var outerNav = true
    - var hideNavMobile = false
    - var mobileLinksNav = false

    -
        var seo = {
            title: 'King\'s Tailor Shop',
            description: 'We don’t see people wearing tailored clothing much nowadays. There are no two identical people, so why should their clothing be. If you want your look elevated to the next level, you should try going to a tailor.',
            image: '/images/kings-tailor/thumbnail.jpg',
            url: 'https://www.dragossargu.com/KTS.html'
        }

append meta
    include partials/_seo
    meta(name='robots', content='noindex, follow')

append styles
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="/css/project.css")

block content
    include partials/_nav

    .c-overview
        .container.c-card.c-overview__card
            .row
                .col-12
                    img.c-overview__image(src='/images/kings-tailor/thumbnail.jpg')
                    h3.c-overview__title King's Tailor Shop
            .row
                .col-6
                    p We don’t see people wearing tailored clothing much nowadays. There are no two identical people, so why should their clothing be. If you want your look elevated to the next level, you should try going to a tailor.
                .col-6.u-flex-align__cc
                    a.c-link.c-link__arrow.c-overview__link(href = '')
                        span See Live
                        include partials/_arrow
        .container.c-overview__stats
            .row
                .col-3.u-flex-align__ct
                    .c-stat
                        h4.c-stat__value John King
                        p.c-stat__name Client
                .col-3.u-flex-align__ct
                    .c-stat
                        h4.c-stat__value Landing Page
                        p.c-stat__name Project
                .col-3.u-flex-align__ct
                    .c-stat
                        h4.c-stat__value 40 hours
                        p.c-stat__name Time
                .col-3.u-flex-align__ct
                    .c-stat
                        h4.c-stat__value Web Design
                        p.c-stat__name My Role

    .o-proj-desc
        .o-proj-desc__block.c-brief
            .container.c-card.c-brief__card
                .o-heading--pushed
                    h2.c-heading.c-brief__heading Brief
                .row
                    p.col-6.offset-3 I have been approached with the task of creating a modern landing page for a tailor shop with a rich history behind it. Preserving heritage while designing a contemporary landing page is a must in this project. Also, the goal was to show that wearing tailored clothing is marvelous without directly saying it.  I had no restrictions design-wise as long as the client was happy with the result.

        .o-proj-desc__block.c-challenges
            .container
                .o-heading--pushed
                    h2.c-heading.c-challenges__heading Challenges
                .c-challenges__section
                    .row
                        .col-3.u-flex-align__cc
                            .c-challenges__roman-i
                        .col-6
                            h4 Making it easy to shop for the conservative and/or busy ones.
                            p.u-mg-t__20 I created a non-e-commerce — e-commerce project by getting rid of the sign-ups, virtual shopping carts, and the inserting card data on the website. This was achieved by calling the client to schedule an appointment. Also, the payment is made on the day – cash or credit card.
                .c-challenges__section
                    .row
                        .col-3.u-flex-align__cc
                            .c-challenges__roman-i
                            .c-challenges__roman-i
                        .col-6
                            h4 Preserving heritage while being modern. Standing out.
                            p.u-mg-t__20 Using the older visual language, combined with the new school of design I achieved exactly what we needed. The font itself is from the modern serif category. The serifs provide the aged look and the high contrast between thin and thick lines are making it fresh. Also, I used strict squares and playful layouts for the exact same purpose.
                .c-challenges__section
                    .row
                        .col-3.u-flex-align__cc
                            .c-challenges__roman-i
                            .c-challenges__roman-i
                            .c-challenges__roman-i
                        .col-6
                            h4 Being appealing to the new generation of fashion-heads.
                            p.u-mg-t__20
                                | Using a subtle yet very stylish visual language is everything that the millennials need to trust a fashion brand.
                                br
                                | PS: Influencers! Influencers! Influencers! Having a trendsetter in the testimonials section definitely helps.

        .o-proj-desc__block.c-style
            .container
                .o-heading--pushed
                    h2.c-heading.c-brief__heading Style
                .c-style__section
                    .row
                        .col-3.u-flex-align__lc
                            h3.u-gray-text Typography
                        .col
                            .c-style__font Playfair Display
                    .row
                        .col-4.offset-3
                            p.u-mg-t__20 We needed it to provide history – serif. We also needed it to be fresh-looking – modern serif. I used only one font because I planned making it sophisticated by shapes colors and layouts.
                .c-style__section
                    .row
                        .col-6.offset-3
                            h5 Deep Black
                        .col-2
                            h5 Silk Red
                    .row
                        .col-3.u-flex-align__lc
                            h3.u-gray-text Colors
                        .col-6
                            .c-color.c-color--black
                                h5.c-color__text MAIN
                                h5.c-color__text #333333
                        .col-2
                            .c-color.c-color--red
                                h5.c-color__text ACCENT
                                h5.c-color__text #D74B4B
                    .row
                        .col-3.offset-3
                            .c-color.c-color--gray
                                h5.c-color__text BACKGROUND
                                h5.c-color__text #F5F5F5
                        .col-5
                            .c-color.c-color--white
                                h5.c-color__text BACKGROUND
                                h5.c-color__text #FFFFFF
                    .row
                        .col-3.offset-3
                            h5 Milk Gray
                        .col-5
                            h5 White
                .c-style__section.c-card.c-style__card
                    .row
                        .col-3
                            h3 Brand
                        .col-3
                            h3 The Red Dot
                        .col-4
                            p Have you ever encountered a basic symbol with more meaning than a dot? Especially if is used as a period. Moreover it is red. King’s Tailor Shop are making a statement, both with words and clothing.
                    .row.u-mg-t__40
                        .col-3.offset-3
                            h3 Uncapitalized Letter
                        .col-4
                            p The owners last name is King, but if we use it uncapitalized, it brings more royalty to the table. It is quite unique to break the rules in such a niche. Subtle yet bold.
                        .col-11
                            img.c-style__image(src="/images/kings-tailor/showcase.jpg")
                .c-style__section
                    .row
                        .col-3.u-flex-align__lc
                            h3.u-gray-text UI Elements
                        .col-2.u-flex-align__lc
                            h3 Buttons
                        .col-4
                            .c-style__btn.c-style__btn--passive book your suit
                        .col-2.u-flex-align__lc
                            h4.u-gray-text Passive
                    .row.u-mg-t__40
                        .col-4.offset-5
                            .c-style__btn.c-style__btn--hover book your suit
                        .col-2.u-flex-align__lc
                            h4.u-gray-text Hover
                    .row.u-mg-t__40
                        .col-4.offset-5
                            .c-style__btn.c-style__btn--click book your suit
                        .col-2.u-flex-align__lc
                            h4.u-gray-text Click
                    .row.u-mg-t__140
                        .col-2.offset-3
                            h3 Inputs
                        .col-6.c-inputs
                            .row.c-inputs__block
                                .col-8.u-flex-align__cc
                                    img.c-inputs__img(src='/images/kings-tailor/input-passive.png')
                                .col-4.u-flex-align__lc
                                    h4.c-inputs__state Passive
                            .row.c-inputs__block
                                .col-8.u-flex-align__cc
                                    img.c-inputs__img(src='/images/kings-tailor/input-active.png')
                                .col-4.u-flex-align__lc
                                    h4.c-inputs__state Active
                            .row.c-inputs__block
                                .col-8.u-flex-align__cc
                                    img.c-inputs__img(src='/images/kings-tailor/input-error.png')
                                .col-4.u-flex-align__lc
                                    h4.c-inputs__state Error
        .o-proj-desc__block.c-grid-sec
            .container.c-card.c-grid-sec__card
                .o-heading--pushed
                    h2.c-heading.c-grid-sec__heading Grid
                .row
                    .col-5.offset-3
                        p King’s Tailor Shop is based on a custom grid 6 columns with absolutely no gutter.  This grid allowed me to pull off such interesting and responsive layouts.
                    .col-11
                        .c-grid-sec__slider.c-slider.js-slider
                            img.c-slider__img.js-slider__img(src='/images/kings-tailor/no-grid.jpg', draggable='false')
                            img.c-slider__img.js-slider__img(src='/images/kings-tailor/grid.jpg', draggable='false')
                            .c-slider__handle.js-slider__handle
                                .c-slider__arrow
                                .c-slider__arrow
    .c-thanks
        .container
            .row
                .col-8
                    h3.u-gray-text Thank you for your attention!
                .col
                    a.c-thanks__link(href='/kings-tailor-shop/realpixels.html')
                        .c-underline See Real Pixels
                    a.c-thanks__link(href='https://www.behance.net/gallery/81762185/Kings-Tailor-Shop', target='_blank')
                        .c-underline View on Behance

    include partials/_contact

    include partials/_footer

append scripts
    script(src = "/js/project.js")