extends templates/_project

append variables
    //- generate the page based on the second project from the "projects" array
    - var i = 1

    -
        var seo = {
            title: 'Portfolio Website',
            description: 'I have been working for the last 4 years in agencies, startups and as a freelancer. I worked in two continents, designed apps, landing pages, websites, ads, posters, emails for a wide range of clients.',
            image: 'images/portfolio.jpg',
            url: 'https://www.dragossargu.com/project1.html'
        }