extends _layouts/_layout

block variables
    - var outerNav = true
    - var hideNavMobile = true
    - var mobileNav = false
    - var bigFooter = true

append styles
    link(rel="stylesheet", href="css/project.css")

block content

    include partials/_nav

    .c-overview
        .c-card.c-card__left
            .o-section.o-section--first
                .container.u-mg-r__zero
                    a.c-overview__mail(href='mailto:business@dragossargu.com') business@dragossargu.com
                    .row
                        .col-12.col-sm-10.order-sm-1
                            img.c-overview__image(src='images/rantech.jpg', alt='')
                        .col-12.col-sm-10.order-sm-3
                            h3.c-overview__title Rantech Website
                        .col-12.col-sm-6.order-sm-4
                            p.
                                I have been working for the last 4 years in agencies, startups and as a freelancer. I worked in two continents, designed apps, landing pages, websites, ads, posters, emails for a wide range of.
                        .col-12.col-sm-2.order-sm-2
                            .row.c-stats.c-overview__stats
                                .col-6.col-sm-12
                                    .c-stats__block
                                        p Rantech
                                        h5.c-stats__name Client
                                    .c-stats__block
                                        p Responsive Web
                                        h5.c-stats__name Project
                                .col-6.col-sm-12(class='u-mg-t__20@up-sm')
                                    .c-stats__block
                                        p 40 hours
                                        h5.c-stats__name Time
                                    .c-stats__block
                                        p UI/UX design
                                        h5.c-stats__name My role
                        .col-12.col-sm-4.order-sm-5.u-flex-align__cc
                            a.c-overview__link(href='')
                                span See Live
                                span.c-arrow
    .c-description
        .o-section
            .container
                .row
                    p.col-12.col-sm-6.c-description__paragraph.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris facilisis libero, nec sagittis odio sapien eget .
                    p.col-12.col-sm-6.c-description__paragraph.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris .
        .c-card.c-card__center
            .o-section.o-section--bottom
                .container.c-description__block
                    img.c-description__image(src='images/rantech.jpg', alt='')
                    .row
                        p.col-12.col-sm-6.c-description__paragraph.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris facilisis libero, nec sagittis odio sapien eget .
                        p.col-12.col-sm-6.c-description__paragraph.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris .
    .c-quote
        .container
            .row
                .col-12.col-sm-10.offset-sm-1
                    p.c-quote__text
                        span.c-quote__symbol “
                        br
                        |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae.

    include partials/_footer