extends templates/_project

append variables
    //- generate the page based on the first project from the "projects" array
    - var i = 0
    -
        var seo = {
            title: 'Rantech Website',
            description: 'I have been working for the last 4 years in agencies, startups and as a freelancer. I worked in two continents, designed apps, landing pages, websites, ads, posters, emails for a wide range of clients.',
            image: 'images/rantech.jpg',
            url: 'https://www.dragossargu.com/rantech.html'
        }

append meta
    meta(name='robots', content='noindex, follow')