extends layouts/_layout

block variables
    - var outerNav = false
    - var hideNavMobile = false
    - var mobileNav = false
    - var bigFooter = false
    - var medFooter = false
    - var hideFooterLinksUpMobile = true

    -
        var seo = {
            title: 'Dragos Sargu | Designer',
            description: 'I am an fresh thinking UI/UX designer. My products are always responsive, pixel perfect and retina ready. I have designed apps, landing pages, websites, for a wide range of clients.',
            image: '/images/portrait.jpg',
            url: 'https://www.dragossargu.com/'
        }

block mixins
    include mixins/_nav-links

append meta
    include partials/_seo

append styles
    link(rel="stylesheet", href="/css/teaser-page.css")

block content
    .o-full-screen.u-flex-space__between.u-flex-dir__col
        .c-nav.c-nav--big
            .container
                .row
                    .col-12.col-sm-auto.u-flex-align__cc
                        a.c-nav__mail(href='mailto:business@dragossargu.com').
                            business@dragossargu.com

        .c-teaser
            .container
                .row
                    .col-12
                        .c-teaser__text
                                span.o-type__write(data-period="3000", data-type=`["We are opening soon.", "We are still in development.", "It won't take more than a week."]`)
                                span.o-type__cursor.o-type__cursor--md |
                        .c-teaser__links
                            +horizontal-nav-icons

        include partials/_footer

append scripts
    script(src="/js/type.js")
    script(src="/js/teaserPage.js")