extends ../../layouts/_layout

block variables
    - var backHomepageNav = true
    - var outerNav = true
    - var hideNavMobile = false
    - var mobileLinksNav = false

    -
        var seo = {
            title: 'King\'s Tailor Shop',
            description: 'We don’t see people wearing tailored clothing much nowadays. There are no two identical people, so why should their clothing be. If you want your look elevated to the next level, you should try going to a tailor.',
            image: '/images/kings-tailor/thumbnail.jpg',
            url: 'https://www.dragossargu.com/KTS.html',
            hidden: false,
        }

block mixins
    include ../../mixins/_image

append meta
    include ../../partials/_seo

append styles
    link(rel="stylesheet", href="/css/realpixels.css")

block content
    include ../../partials/_nav

    +image('/images/kings-tailor/realpixels/hero.jpg',
        '',
        'King\'s Tailor Shop Hero Section')
    +image('/images/kings-tailor/realpixels/services.jpg',
        '',
        'King\'s Tailor Shop Services Section')
    +image('/images/kings-tailor/realpixels/heritage.jpg',
        '',
        'King\'s Tailor Shop Heritage Section')
    +image('/images/kings-tailor/realpixels/process.jpg',
        '',
        'King\'s Tailor Shop Process Section')
    +image('/images/kings-tailor/realpixels/testimonials.jpg',
        '',
        'King\'s Tailor Shop Testimonials Section')
    +image('/images/kings-tailor/realpixels/contact.jpg',
        '',
        'King\'s Tailor Shop Contact Section')

    include ../../partials/_contact

    include ../../partials/_footer

append scripts
    script(src = "/js/realpixels.js")