mixin horizontal-nav-icons
    ul.o-list
        li.c-footer__link
            a(target='_blank', href='https://dribbble.com/dragos_sargu')
                img.o-icon.o-icon__dribbble(src='/images/icon/dribbble.svg', alt='Dribbble icon')
        li.c-footer__link
            a(target='_blank', href='https://www.behance.net/dragos_sargu?fbclid=IwAR1T7mY5uI0hyMioCgI-bkggJFNc1HRHWi1pLz1CHRBNYNB9dc3Q5s1gMD0')
                img.o-icon.o-icon__behance(src='/images/icon/behance.svg', alt='Behance icon')
        li.c-footer__link
            a(target='_blank', href='https://t.me/dragos_sargu')
                img.o-icon.o-icon__telegram(src='/images/icon/telegram.svg', alt='Telegram icon')