-
    var projects = [
    {
        title: "Rantech Website",
        description: "I have been working for the last 4 years in agencies, startups and as a freelancer. I worked in two continents, designed apps, landing pages, websites, ads, posters, emails for a wide range of.",
        image1: "rantech.jpg",
        image2: "rantech.jpg",
        link: "rantech.html",
        stats: {
            client: "Rantech",
            proj: "Responsive Web",
            time: "40 hours",
            role: "UI/UX design"
        },
        live: "",
        parag1: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris facilisis libero, nec sagittis odio sapien eget .",
        parag2: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris .",
        parag3: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris facilisis libero, nec sagittis odio sapien eget .",
        parag4: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris .",
        quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae."
    },
    {
        title: "Portfolio Website",
        description: "I have been working for the last 4 years in agencies, startups and as a freelancer. I worked in two continents, designed apps, landing pages, websites, ads, posters, emails for a wide range of.",
        image1: "portfolio.jpg",
        image2: "portfolio.jpg",
        link: "project1.html",
        stats: {
            client: "Rantech",
            proj: "Responsive Web",
            time: "40 hours",
            role: "UI/UX design"
        },
        live: "",
        parag1: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris facilisis libero, nec sagittis odio sapien eget .",
        parag2: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris .",
        parag3: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris facilisis libero, nec sagittis odio sapien eget .",
        parag4: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris .",
        quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae."
    },
    {
        title: "Vintage Website",
        description: "I have been working for the last 4 years in agencies, startups and as a freelancer. I worked in two continents, designed apps, landing pages, websites, ads, posters, emails for a wide range of.",
        image1: "vintage.jpg",
        image2: "vintage.jpg",
        link: "project2.html",
        stats: {
            client: "Rantech",
            proj: "Responsive Web",
            time: "40 hours",
            role: "UI/UX design"
        },
        live: "",
        parag1: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris facilisis libero, nec sagittis odio sapien eget .",
        parag2: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris .",
        parag3: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris facilisis libero, nec sagittis odio sapien eget .",
        parag4: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae, viverra at lacus. Suspendisse malesuada dolor vulputate volutpat tempor. Fusce elementum, orci eget porttitor fringilla, quam mauris .",
        quote: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nunc lacus, euismod id ornare vitae."
    }]