block variables

block mixins

doctype html
html(lang='en')
    head
        block meta
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            meta(http-equiv='X-UA-Compatible', content='ie=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            //- icons
            link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png?v=oLJjAog5Gk')
            link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png?v=oLJjAog5Gk')
            link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png?v=oLJjAog5Gk')
            link(rel='manifest', href='/site.webmanifest?v=oLJjAog5Gk')
            link(rel='mask-icon', href='/safari-pinned-tab.svg?v=oLJjAog5Gk', color='#2e2e2e')
            link(rel='shortcut icon', href='/favicon.ico?v=oLJjAog5Gk')
            meta(name='apple-mobile-web-app-title', content='Dragos Sargu')
            meta(name='application-name', content='Dragos Sargu')
            meta(name='msapplication-TileColor', content='#b91d47')
            meta(name='theme-color', content='#ffffff')

        block styles
            link(href='https://fonts.googleapis.com/css?family=Lato:300,700,900', rel='stylesheet')
            link(href='https://fonts.googleapis.com/css?family=Montserrat:300,600,700', rel='stylesheet')

        block firstScripts

    body

        block content

        block scripts
            script(src="/js/main.js")
