block variables

block mixins

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Dragos Sargu

        block styles
            link(href='https://fonts.googleapis.com/css?family=Lato:300,700,900', rel='stylesheet')
            link(href='https://fonts.googleapis.com/css?family=Montserrat:300,600,700', rel='stylesheet')

    body.u-transitions-on-load

        block content

        block scripts
            script(src="js/main.js")
