.u-flex-align {
	&__l {
		&t {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
		}

		&c {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		&b {
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;
		}
	}

	&__c {
		&t {
			display: flex;
			justify-content: center;
			align-items: flex-start;
		}

		&c {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&b {
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
	}

	&__r {
		&t {
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
		}

		&c {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		&b {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
}

.u-flex-space {
	&__between {
		display: flex;
		justify-content: space-between;
	}
}

.u-flex-dir {
	&__col {
		flex-direction: column;
	}
}

.u-margin {
	&-t {
		&__60 {
			margin-top: 60px;
		}

		&__zero {
			margin-top: 0;

			&\@down-xs {
				@include media-breakpoint-down(xs) {
					margin-top: 0 !important;
				}
			}
		}
	}

	&-r {
		&__zero {
			margin-right: 0;
		}
	}
}

.u-padding {
	&-clr {
		padding: 0;

		&\@down-xs {
			@include media-breakpoint-down(xs) {
				padding: 0;
			}
		}
	}
}

.u-display {
	&-none {
		display: none;

		&\@down-xs {
			@include media-breakpoint-down(xs) {
				display: none;
			}
		}
	}
}
