.u-flex-align {
	&__l {
		&t {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
		}

		&c {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		&b {
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;
		}
	}

	&__c {
		&t {
			display: flex;
			justify-content: center;
			align-items: flex-start;
		}

		&c {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&b {
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
	}

	&__r {
		&t {
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
		}

		&c {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		&b {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
}

.u-flex-space {
	&__between {
		display: flex;
		justify-content: space-between;
	}
}

.u-flex-dir {
	&__col {
		flex-direction: column;
	}
}

.u-mg {
	&-t {
		&__60 {
			margin-top: 60px;
		}

		&__20 {
			margin-top: 20px;

			&\@up-sm {
				@include media-breakpoint-up(sm) {
					margin-top: 20px;
				}
			}
		}
	}

	&-r {
		&__zero {
			margin-right: 0;
		}
	}
}

.u-padding {
	&-clr {
		padding: 0;

		&\@down-xs {
			@include media-breakpoint-down(xs) {
				padding: 0;
			}
		}
	}
}

.u-display {
	&__none {
		display: none;

		&\@down-xs {
			@include media-breakpoint-down(xs) {
				display: none;
			}
		}

		&\@up-xs {
			@include media-breakpoint-up(sm) {
				display: none;
			}
		}
	}
}

.u-transitions-on-load * {
	transition: none !important;
}

.u-hyphen {
	hyphens: auto;

	&--manual {
		hyphens: manual;
	}
}
