.c-about {
	&__heading {
		left: 10px;
	}

	&__description {
		margin-top: 60px;
		margin-bottom: 55px;
	}

	&__image {
		position: relative;
		max-width: 100%;
		top: 20px;
		box-shadow: $default-shadow;
	}
}
