.c-contact {
    padding: 330px 0;
    text-align: center;

    &__title {
        margin-bottom: 9px;
    }

    &__address {
        @extend h4;
        position: relative;
        transition: .3s;

        &:hover {
            color: $smoke-gray;
        }

        &::after {
            content: "";
            display: block;
            height: 2px;
            width: calc(100% + 4px);
            background: $black;
            position: absolute;
            left: -2px;
            bottom: -6px;
        }
    }

}
