.c-hero {
	border: 20px solid white;
	background: $snow-white;
	height: 840px;

	&__mail {
		@extend p;
		color: $black;
	}

	&__link {
		@extend h5;
	}

	&__info {
		margin-top: 85px;
		margin-bottom: 80px;
	}
}
