.o-list {
	& li {
		display: inline-block;
	}

	& li + li {
		margin-left: 40px;
	}
}

.o-block {
	margin-bottom: 19px;

	&--md {
		margin-bottom: 16px;
	}

	&--sm {
		margin-bottom: 9px;
	}
}

.o-line {
	position: relative;
}

.o-heading--pushed {
	position: absolute;
	z-index: 5;
	transform: rotate(-90deg) translateY(-150%);
	left: -60px;
}

.o-section {
	position: relative;
	padding-bottom: 80px;
	padding-top: 80px;


	&--first {
		padding-top: 20px;
		height: 100%;
	}

	&--bottom {
		padding-top: 0;
	}

	&--big {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}
