@mixin style-text($weight, $size, $letter, $line, $color: $black) {
	font-weight: $weight;
	font-size: $size;
	letter-spacing: $letter;
	line-height: $line;
	color: $color;
}

@mixin position-card-left(
	$max-widths: $container-max-widths,
	$breakpoints: $grid-breakpoints
) {
	@each $breakpoint, $container-max-width in $max-widths {
		@include media-breakpoint-up($breakpoint, $breakpoints) {
			$half-container: $container-max-width / 2;
			$container-padding: $grid-gutter-width;
			// translate the card 50% to the right(it's width is 100vw)
			// then translate it to the left by half of the container width
			right: calc(50% - #{$half-container});
		}
	}
}

/**
 * @param $grid-offset-columns {number} - the number of columns the card offsets the grid
 */
@mixin card-center-grid-offset(
	$grid-offset-columns,
	$max-widths: $container-max-widths,
	$breakpoints: $grid-breakpoints
) {
	@each $breakpoint, $container-max-width in $max-widths {
		@include media-breakpoint-up($breakpoint, $breakpoints) {
			$column-gutter: $grid-gutter-width;
			$x-column-width: $grid-offset-columns * ($container-max-width / 12);
			$grid-offset: $x-column-width - $column-gutter;
			max-width: $container-max-width + $grid-offset * 2;
		}
	}
}